@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italianno&family=Playwrite+BE+VLG:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+BE+VLG:wght@100..400&display=swap');

.inter-font-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.playwrite-be-vlg-newfont {
    font-family: "Playwrite BE VLG", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
*{
    margin: 0;
}
.white{
    color: rgb(255, 255, 255);
}
.gray{
    color: rgba(255, 255, 255, 0.5);
}
/* nav-bar-related-work */
.container{
    width: 100%;
    margin: 30px auto; 
     
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-child{
    display: flex;
    justify-content: space-evenly;
    gap: 45px;
    margin-right: 150px;
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
color: rgb(255, 255, 255);
width: 420px;
text-align: center;
justify-content: center;
align-items: center;
margin-top: 70px;
font-size: 1.12rem;
font-weight: 400;
padding: 3px 3px;
}
.logo{
    width: 132px;
height: 43px;
margin-left: 120px;
font-style: italic;
color: rgb(230, 83, 60);
font-size: 2.25rem;
font-weight: 800;
margin-top: 70px;
}
.btn-primary{
    width: 92px;
height: 35px;
border-radius: 46px;

background: rgb(230, 83, 60);
border: none;
text-align: center;
color:  rgb(255, 255, 255);
font-size: 1.12rem;
font-weight: 400;
 
}
.hamburger{
    color: rgb(255, 255, 255);
    display: none;
    font-size: 2rem;
}
header{
  
    background: linear-gradient(180.00deg, rgb(17, 17, 17)100%,
    rgba(119, 119, 119, 0) 100%);
    max-width: 1440px;
     max-height: 750px;

}
body{
    background-color: black;
}
/* banner-styles */
 .banner-greetings{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 8.78rem;
font-weight: 900;
 }
 .banner{
  display: flex;
  justify-content: space-between;
  margin: 50px 130px;
  
  }
  .banner-contant{
    max-width: 580px;
    
  }
  
  .banner-title{
    font-weight: 900;
    font-size: 4.87rem;
    color: rgb(255, 255, 255);
    padding: 0px;
    margin: 28px 0px;
    
  }
  .banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    padding: 0px;
    margin: 28px 0px;
  }
  .second-btn{
    background-color:rgb(230, 83, 60) ;
    color: rgb(255, 255, 255);
    font-size: 1.13rem;
    font-weight: 400;
    line-height: 22px;
    border-radius: 42px;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 16px 40px 16px 40px;
    margin: 0px 10px;
  }
  .third-btn{
    font-size: 1.13rem;
    font-weight: 400;
    line-height: 22px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    justify-content: center;
    align-items: center;
    padding: 16px 40px 16px 40px;
    margin: 0px 14px;
    background-color:rgba(119, 119, 119, 0);
    color:  rgb(255, 255, 255);
   
  }
  /* badge-related-work */
  
  .profile-pic{
   width: 349px;
  }
  #badge{
    position: absolute;
  width: 150px;
  height: 98px;
  left: 1100px;
  top: 350px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  
  }
  .number{
   font-weight: 800;
   font-size: 2.5rem;
   height: 40px;
   color: rgb(255, 255, 255);
  }
  .free-vdo{
    font-weight: 400;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.65);
  }
  #second-badge{
   
   position: absolute;
  width: 170px;
  height: 96px;
  left: 780px;
  top: 630px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  
  }
  .ellipse{
    position: absolute;
  width: 30px;
  height: 30px;
  left: 30px;
  bottom: 28px;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background-color: rgb(230, 83, 60);
  }
  .number2{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  }
  .tutorial{
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  color: rgba(239, 237, 232, 0.65);
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  .paragraph{
    color: rgba(255, 255, 255, 0.5);
  }
  
  
  .change-habits{
   font-weight: 900;
   font-size: 3rem;
   width: 476px;
   height: 58px;
   padding: 0px;
   margin: 14px 0px;
   
  }
  .second-section{
    position: absolute;
  max-width: 1044px;
  max-height: 452px;
  left: 198px;
  top: 815px;
  margin: 0 auto;
  padding: 0px;
  }
  .second-pera{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    width: 671px;
    height: 48px;
    padding: 0px;
    margin: 14px 0px;
  }
    
  
  .header-pera{
   max-width: 671px;
   max-height: 120px;
  
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 0px;
   
  }
  /* four-img-related-work */
  .second-img img{
   border: 1px;
   margin-bottom: 10px;
   
   border-radius: 100px;
  }
  .second-img{
    width: 272px;
    height: 200px;
    left: -11.5px;
    top: 0;
  }
  .full-excersize{
    display: flex;
    text-align: center;
    top: 280px;
    margin: 58px 0px;
  }
  .second-section{
    width: 1000px;
  height: 452px;
  left: 120px;
  right: 190px;
  top: 815px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  
  }
  /* third-srction-related-work */
  .third-section{
    position: static;
    width: 1020px;
    height: 371px;
    margin-top: 680px;
    margin-left: 90px;
    margin-right: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 0px;
   
    background: rgb(185, 185, 185);
    border-radius: 18px;
   
  
  background: rgb(34, 34, 34);
  }
  .extra-run{
    color: rgb(255, 255, 255);
    font-size: 3rem;
  font-weight: 900;
  margin: 14px 0px;
  
  
   
  }
  .belive-fitness{
    color: rgba(255, 255, 255, 0.5);
    position: static;
    width: 400px;
  height: 150px;
  margin: 0 auto;
  
   
  }
  .join-btn{
    position: static;
  width: 180px;
  height: 60px;
  border-radius: 42px;
  border: none;
  color: rgb(255, 255, 255);
  
  background: rgb(230, 83, 60);
  font-weight: 400;
  font-size: 1.13rem;
  margin-top: 20px;
  padding: 16px 40px 16px 40px;
  
  }
  .contant-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    left: 100px;
    width: 400px;
    height: 250px;
  }
  .card-img{
    width: 350px;
    height: 310px;
    margin-left: 40px;    
  }
  .card-img img{
    width: 350px;
    height: 310px;
    border-radius: 18px;
    background: url(4);
  }
  .second-contant {
    display: flex;
    gap: 170px;
    margin: 0 auto;  
  }
  
/* responsive-start */
@media screen and (max-width:576px){
    .nav-child{
        display: none;
    }
    .logo{
        margin-left: 20px;
        margin-top: 20px;
    }
    .hamburger{
        display: block;
        margin-right: 30px;
        margin-top: 30px;
    }
    header{
      display: flex;
      flex-direction: column;
    }
    .two-btn{
      display: flex;
      flex-direction: row;
      width: 30px;
      gap: 50px;
    }
    .banner{
      flex-direction: column;
      margin: 30px;
     font-size: 3rem;
      
      
    }
    button{
      display: flex;
    }
    .second-btn{
     width: 500px;
     height: 50px;
     align-items: center;
     text-align: center;
    }
    .third-btn{
      width: 300px;
      height: 50px;
      right: 200px;
    }
    .profile-pic{
      width: 100%;
    }
    .banner-contant{
      flex-direction: row;
    }
    .banner-title{
    
    }
    #second-badge{
      left: 30px;
      top: 1200px;
    }
    #badge{
      left: 220px;
      top: 1000px;
    }
    #badge .mobile{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      gap: 5px;
      
    }
    /* start-second-section */
    
    }
   
    
    

